@media(prefers-color-scheme: dark) {

    code[class*="language-"],
    pre[class*="language-"] {
        background-color: #161b22;
        color: #c9d1d9;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    }

    /* Inline code */
    :not(pre) > code[class*="language-"] {
        background-color: rgba(110,118,129,0.4);
    }

    .token.comment,
    .token.prolog,
    .token.cdata {
        color: #8b949e;
    }

    .token.doctype,
    .token.punctuation,
    .token.entity {
        color: #c9d1d9;
    }

    .token.attr-name,
    .token.class-name,
    .token.boolean,
    .token.constant,
    .token.number,
    .token.atrule {
        color: #79c0ff;
    }

    .token.keyword {
        color: #a5d6ff;
    }

    .token.property,
    .token.tag,
    .token.symbol,
    .token.deleted,
    .token.important {
        color: #7ee787;
    }

    .token.selector,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted,
    .token.regex,
    .token.attr-value,
    .token.attr-value > .token.punctuation {
        color: #79c0ff;
    }

    .token.variable,
    .token.operator,
    .token.function {
        color: #a5d6ff;
    }

    .token.url {
        color: #7ee787;
    }

    /* HTML overrides */
    .token.attr-value > .token.punctuation.attr-equals,
    .token.special-attr > .token.attr-value > .token.value.css {
        color: #c9d1d9;
    }

    /* CSS overrides */
    .language-css .token.selector {
        color: #7ee787;
    }

    .language-css .token.property {
        color: #79c0ff;
    }

    .language-css .token.important,
    .language-css .token.atrule .token.rule {
        color: #ff7b72;
    }

    /* JS overrides */
    .language-js .token.keyword,
    .language-javascript .token.keyword {
        color: #ff7b72;
    }

    .language-js .token.operator,
    .language-js .token.constant,
    .language-js .token.boolean,
    .language-js .token.number,
    .language-js .token.atrule,
    .language-javascript .token.operator,
    .language-javascript .token.constant,
    .language-javascript .token.boolean,
    .language-javascript .token.number,
    .language-javascript .token.atrule {
        color: #79c0ff;
    }

    .language-js .token.function,
    .language-javascript .token.function {
        color: #d2a8ff;
    }

    .language-js .token.attr-name,
    .language-js .token.class-name,
    .language-js .token.function-variable,
    .language-javascript .token.attr-name,
    .language-javascript .token.class-name,
    .language-javascript .token.function-variable {
        color: #ffa657;
    }

    /* JSX overrides */
    .language-jsx .token.keyword {
        color: #ff7b72;
    }

    .language-jsx .token.function {
        color: #d2a8ff;
    }

    .language-jsx .token.function-variable {
        color: #ffa657;
    }

    .language-jsx .token.punctuation {
        color: #79c0ff;
    }

    .language-jsx .token.attr-name,
    .language-jsx .token.class-name {
        color: #7ee787;
    }

    .language-jsx .token.string {
        color: #a5d6ff;
    }

    /* JSON overrides */
    .language-json .token.operator {
        color: #c9d1d9;
    }

    .language-json .token.null.keyword {
        color: #79c0ff;
    }

    /* YML overrides */
    .language-yml .token.atrule {
        color: #7ee787;
    }
}
