$font-family: -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

$content-max-width: 700px;
$content-horizontal-padding: 15px;
$content-image-max-height: 560px;

$screen-mobile-max: 700px;
$screen-desktop-min: 701px;
