.theme-switch-btn {
  border: 0;
  outline: 0;
  background-color: transparent;

  .theme-switch {
    width: 1rem;
    height: 1rem;
    color: var(--text-color);

    &:hover {
      cursor: pointer;
    }
  }
}
