@use "../../styles/colors" as *;
@use "../../styles/variables" as *;

.post-card {
    padding: 3% 0;
    margin-bottom: 3%;

    .post-card-title {
        margin-top: 0;
        overflow: hidden;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.4;
        text-overflow: ellipsis;
        word-break: keep-all;
        overflow-wrap: break-word;
        transition: color 0.3s ease;
        -webkit-line-clamp: 2;
        color: var(--grey900);
    }

    .post-card-title:hover {
        color: var(--green700);
    }

    p {
        line-height: 1.6;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
    }

    .post-card-excerpt {
        color: var(--grey700);
    }

    .post-card-date {
        color: var(--grey500);
    }
}
