@use "./src/styles/_variables" as *;

.post-header-wrapper {
  padding: 1.5rem 1rem;

  .post-header-title {
    margin-bottom: 16px;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    word-break: keep-all;
  }

  @media (max-width: $content-max-width) {
    .post-header-title {
      font-size: 1.5rem;
    }
  }

  .post-header-date {
    color: var(--text-color-muted);
    font-size: 1rem;
    font-weight: 400;
  }
}
