.post-header-wrapper {
  padding: 1.5rem 1rem;
  width: 100%;

  .post-header-title {
    margin-bottom: 16px;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    word-break: keep-all;
  }

  .post-header-date {
    color: var(--text-color-muted);
    font-size: 1rem;
    font-weight: 400;
  }
}
