@use "../styles/colors" as *;
@use "../styles/mixins" as *;
@use "../styles/reset" as *;
@use "../styles/variables" as *;

body {
    font-family: $font-family !important;
    background-color: var(--white) !important;
}

.content-wrapper {
    margin: 60px auto 0;
    padding: 0 5%;
    @include content-max-width;
}
