@use "../styles/variables" as *;
@use "../styles/reset" as *;
@use "../styles/colors" as *;

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color) !important;
  font-family: $font-family;
  word-break: keep-all;
}

.content {
  margin: 64px auto 0;
  max-width: $content-max-width;
}
